
body{font-family:helvetica,"Microsoft Yahei",sans-serif;font-weight:normal;font-size:15px;line-height:20px;color:#333;height:100%;position:relative;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;outline:none;}
input,textarea,select{*font-size:100%;resize:none;}

a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}

a:hover{
 text-decoration:underline;  /*鼠标放上去有下划线*/
}
