html,body{
  background:url(../image/bg.png) repeat 0 0;
}

.input-bg{
  background:url(../image/input-normal.png) no-repeat 0 0;
  padding:0 10px;
  border-radius:5px;
  display:block;
  width:253px;
  height:48px;
  line-height:48px;
  margin-bottom:18px;
  position:relative;
}

.input-bg input {
  border:0;
  background:none;
  box-shadow:none;
  height:25px;
  line-height:25px;
  width:204px;
}
