ldpi：低密度屏幕；约为 120dpi。<br />
mdpi：中等密度（传统 HVGA）屏幕；约为 160dpi。<br />
hdpi：高密度屏幕；约为 240dpi。<br />
xhdpi：超高密度屏幕；约为 320dpi。API 级别 8 中新增配置<br />
xxhdpi：超超高密度屏幕；约为 480dpi。API 级别 16 中新增配置<br />
xxxhdpi：超超超高密度屏幕使用（仅限启动器图标，请参阅“支持多个屏幕”中的注释）；约为 640dpi。 API 级别 18 中新增配置<br />
nodpi：它可用于您不希望缩放以匹配设备密度的位图资源。<br />
tvdpi：密度介于 mdpi 和 hdpi 之间的屏幕；约为 213dpi。它并不是“主要”密度组， 主要用于电视，而大多数应用都不需要它。对于大多数应用而言，提供 mdpi 和 hdpi 资源便已足够，系统将根据需要对其进行缩放。API 级别 13 中引入了此限定符。<br />
六个主要密度之间的缩放比为 3:4:6:8:12:16（忽略 tvdpi 密度）。因此，9x9 (ldpi) 位图相当于 12x12 (mdpi)、18x18 (hdpi)、24x24 (xhdpi) 位图，依此类推。